<footer class="bg-[#f7f8f6] flex items-center justify-between py-4 px-6 text-[15px] text-gray-500 border border-t-1">
  <div class="flex items-center gap-6">
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">À propos</a>
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Des produits</a>
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Support</a>
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Blog</a>
  </div>
  <div class="flex items-center gap-6">
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Confidentialité</a>
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Conditions</a>
    <a class="hover:underline hover:cursor-pointer hover:text-blue-500">Paramètres de recherche</a>
  </div>
</footer>
