<div class="w-full h-screen relative">
  <div class="w-[90%] mx-auto pt-4 h-[100%]">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div class="flex w-full items-center justify-center h-[90%]">
      <div class="w-full">
        <div>
          <app-sri-logo></app-sri-logo>
        </div>
        <div class="w-full mt-4 flex justify-center items-center">
          <app-search></app-search>
        </div>
        <div class="w-full mt-10 flex justify-center items-center ">
          <app-features></app-features>
        </div>
      </div>
    </div>
  </div>
  <footer class="absolute left-0 bottom-0 w-full">
    <app-footer></app-footer>
  </footer>
</div>
