<div class="w-[400px]  rounded-2xl border bg-[#fcfbfb] px-6 py-8">
<div >
  <div class="flex items-center gap-3">
    <h1 class="text-3xl font-bold">Zylo</h1>
    <i class='bx bx-globe scale-[1] text-gray-500'></i>
  </div>
  <p class="text-[14px] mt-2 text-gray-500">Tout savoir sur la BOTOLA PRO INWI - Résultats, Équipes et Plus</p>
  <div class="w-full h-[1px] bg-gray-300 mt-6">
  </div>
  <div class="mt-4">
    <p class="text-[14px] mt-2 text-gray-600">
      Le moteur de recherche dédié à la <span class="font-bold">BOTOLA PRO INWI</span> est une plateforme interactive qui permet de rechercher des informations sur les clubs du championnat marocain et les résultats des matchs. Les utilisateurs peuvent facilement consulter les détails des équipes, les classements, les scores en direct, et les statistiques des joueurs. Conçu pour les passionnés de football, il offre une expérience simple et rapide pour explorer l’univers du football marocain. Grâce à ses fonctionnalités avancées, il devient un outil incontournable pour suivre l’actualité et les performances des clubs. Ce moteur valorise ainsi le sport national tout en répondant aux attentes des fans.
    </p>
  </div>
</div>
</div>
